:root {
  /* --base-duration: 1600ms; */
  --deg-iso: 15deg;
  --deg: 15deg;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/* .bigContainerIso {
  background-color: rgb(151, 100, 100);
  width: 100%;
  height: 200vh;
  margin: 0 auto;
  perspective: 0rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  display: none;
} */

/* .touchContainerIso {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0rem auto;
  width: 100%;
  height: 100%;
  background-color: rgb(19, 0, 51);
  box-shadow: 5px 5px 20px 5px rgb(19, 0, 51);
  border-left: 0.5rem solid white;
  border-right: 0.5rem solid white;
  transform-style: preserve-3d;
  transform: rotateX(var(--deg-iso)) translate(-50%, -50%);
  display: none;
} */

.bigContainer {
  background-color: rgb(151, 100, 100);
  width: 100%;
  height: 200vh;
  margin: 0 auto;
  perspective: 5rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 28;
  /* opacity: 50%; */
  /* background-color: transparent; */
}

.touchContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0rem auto;
  width: 100%;
  height: 100%;
  background-color: rgb(19, 0, 51);
  box-shadow: 5px 5px 20px 5px rgb(19, 0, 51);
  border-left: 0.5rem solid white;
  border-right: 0.5rem solid white;
  transform: rotateX(var(--deg)) translate3d(-50%, -50%, 0);
  z-index: 27;
  /* transform-style: preserve-3d; */
  /* opacity: 50%; */
  /* background-color: transparent; */
}

.quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(252, 255, 70);
  font-weight: bold;
  opacity: 50%;
  height: 3rem;
  width: 100%;
  font-size: 3rem;
  position: absolute;
  top: 30%;
  left: 50%;
  /* transform: rotateX(45deg) translate(-50%, -50%); */
  transform: translate3d(-50%, -50%, 0);
  z-index: 30;
}

.tile {
  height: 200%;
  opacity: 80%;
  background-color: #f2ff00;
  box-shadow: 0px 0px 1px 5px #f2ff00;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  /* transform: rotateX(var(--deg)) translate(-50%, -50%); */
  transform: rotateX(0deg) translate3d(-50%, -50%, 0);
}

.tileB {
  background-color: #00f7ff;
}

.tileR {
  background-color: #ff0000;
}

.tileG {
  background-color: #5eff00;
}
/* .holdEffect::after {
  content: " ";
  width: 5rem;
  height: 1rem;
  background: radial-gradient(circle at center, white 0%, white 100%);
  border-radius: 999px;
  box-shadow: 0px 0px 200px 100px rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: rotateX(0deg) translate(-50%, -50%);
} */

/* .dot {
  width: 4rem;
  height: 4rem;
  background-image: url(/public/beat-11.png);
  background-position: center;
  background-size: 150%;
  opacity: 80%;
  box-shadow: 0px 0px 20px 25px #f2ff00;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 5;
} */

.playArea {
  width: 100%;
  height: 2rem;
  background-color: rgba(188, 188, 188, 0.671);
  box-shadow: 5px 5px 20px 5px rgba(71, 71, 71, 0.671);
  position: absolute;
  top: 90%;
  left: 50%;
  z-index: 28;
  opacity: 70%;
  transform: rotateX(0deg) translate3d(-50%, -50%, 0);
  z-index: 10;
}

.playAreaTr {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: rotateX(0deg) translate3d(-50%, -50%, 0);
  z-index: 80;
  background-color: transparent;
}

.Bdot {
  width: 8rem;
  height: 4rem;
  color: rgb(172, 0, 0);
  font-size: 5rem;
  /* background-color: #f2ff00; */
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  z-index: 29;
  animation-name: moving;
  animation-duration: var(--base-duration);
  animation-timing-function: linear;
  /* transform: rotateX(var(--deg)) translate(-50%, -50%); */
  transform: rotateX(15deg) translate3d(-50%, -50%, 0);
  /* display: none; */
  animation-fill-mode: forwards;
  opacity: 0;
}

.BdotY {
  background-image: url(/public/newBeat-el-cr-y.png);
}

.BdotB {
  background-image: url(/public/newBeat-el-cr-b.png);
}

.Cdot {
  width: 10rem;
  height: 5rem;
  background-color: #ff00ee;
  /* border: 1px solid black; */
  /* border: 1px solid white; */
  /* box-shadow: 0px 0px 3px 3px rgba(2, 224, 213, 0.671); */
  /* background-image: url(/public/beat-el-cr-b.png); */
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  z-index: 29;
  /* transform: rotateX(var(--deg)) translate(-50%, -50%); */
  transform: rotateX(45deg) translate3d(-50%, -50%, 0);
  background-color: transparent;
}

.Edot {
  width: 10rem;
  height: 5rem;
  background-color: #04ff00;
  /* border: 1px solid black; */
  /* border: 1px solid white; */
  /* box-shadow: 0px 0px 3px 3px rgba(2, 224, 213, 0.671); */
  /* background-image: url(/public/beat-el-cr-b.png); */
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  z-index: -5;
  /* transform: rotateX(var(--deg)) translate(-50%, -50%); */
  transform: rotateX(45deg) translate3d(-50%, -50%, 0);
  background-color: transparent;
}

.Ddot {
  width: 10rem;
  height: 5rem;
  background-image: url(/public/newBeat-el-cr-b.png);
  /* background-color: transparent; */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  z-index: 27;
  /* transform: rotateX(var(--deg)) translate(-50%, -50%); */
  transform: rotateX(0deg) translate3d(-50%, -50%, 0);
  display: none;
}

@keyframes slide {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate(0, calc(-5000px + var(--1-slide-top) + 16px));
    /* top: var(--1-slide-top); */
    opacity: 1;
  }
}

@keyframes moving {
  0% {
    /* top: 0px; */
    opacity: 1;
  }

  100% {
    transform: translate(-50%, var(--2-slide-top));
    /* top: var(--2-slide-top); */
    opacity: 1;
  }
}

.lineA {
  position: absolute;
  top: 0px;
  transform: translate(0, -50%);
  animation-timing-function: linear;
  animation-name: slide;
  /* display: none; */
  animation-fill-mode: forwards;
  opacity: 0;
}

.lineStroke {
  /* fill: red; */
  stroke: yellow;
  opacity: 0.8;
  stroke-width: 1.5rem;
  position: relative;
  z-index: 2;
  /* display: none; */
}

.yline1 {
  position: absolute;
  top: 90%;
  left: 17.5%;
  width: 0.5rem;
  height: 50rem;
  transform: translate(-50%, -50%);
  background-color: wheat;
  z-index: 100;
  background-color: transparent;
}

.yline2 {
  position: absolute;
  top: 50%;
  left: 11%;
  width: 0.5rem;
  height: 50rem;
  transform: translate3d(-50%, -50%, 0);
  background-color: wheat;
  z-index: 100;
  background-color: transparent;
}

.xline {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 60rem;
  height: 0.5rem;
  transform: translate3d(-50%, -50%, 0);
  background-color: wheat;
  /* z-index: 100;
  background-color: transparent; */
}

#divsList {
  /* display: none; */
  z-index: 27;
}

#divsListE {
  /* display: none; */
  z-index: 27;
}

/* .Bdot {
  width: 4rem;
  height: 4rem;
  background-color: rgb(0, 110, 255);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 320px;
  top: -100px;
  z-index: 3;
  transition: all 3s;
}

.BdotMove {
  top: 450px;
} */

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: aliceblue;
  color: rgb(0, 75, 140);
  font-weight: bold;
  height: 18rem;
  border-radius: 1rem;
  width: 30%;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: rotateX(45deg) translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  z-index: 80;
  /* display: none; */
}

.curtain {
  position: absolute;
  top: 16%;
  left: 50%;
  /* transform: rotateX(45deg) translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  background-color: rgb(151, 100, 100);
  width: 34rem;
  height: 10rem;
  z-index: 28;
  display: none;
}

.export {
  position: absolute;
  top: 10%;
  left: 85%;
  /* transform: rotateX(45deg) translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  background-color: rgb(164, 6, 6);
  width: 10rem;
  height: 5rem;
  z-index: 48;
}

form {
  position: absolute;
  top: 10%;
  left: 15%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 10rem;
  height: 10rem;
  z-index: 48;
}

.import {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(178, 0, 187);
}

.input {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8rem;
  height: 3rem;
  transform: translate(-50%, -50%);
  background-color: rgb(25, 131, 185);
}

.check {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: rgb(178, 0, 187);
  width: 8rem;
  height: 3rem;
  z-index: 48;
}
