#appContainer {
  background-color: rgb(151, 100, 100);
}

button {
  width: 10rem;
  height: 5rem;
  font-size: 2rem;
  background-color: pink;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  display: block;
  margin: 1rem auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start {
  z-index: 50;
}

.btn {
  width: 10rem;
  height: 10rem;
  background-color: aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back {
  width: 5rem;
  height: 3rem;
  background-color: rgb(94, 187, 0);
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.ready {
  width: 16rem;
  height: 8rem;
  background-color: rgb(255, 0, 111);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rec {
  width: 16rem;
  height: 8rem;
  background-color: rgb(187, 0, 197);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
