#appContainer {
  background-color: rgb(151, 100, 100);
}

button {
  width: 10rem;
  height: 5rem;
  font-size: 2rem;
  background-color: pink;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  display: block;
  margin: 1rem auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  width: 10rem;
  height: 10rem;
  background-color: aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
